.no-search {
  height: 375px;
}
.no-video-para {
  font-weight: 500;
  font-family: bree serif;
}
.retry-btn-no {
  align-self: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #3b82f6;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
