.logo-header-img {
  height: 45px;
}
.right-header {
  display: flex;
  align-items: center;
}
.light-icon {
  color: white;
  font-size: xx-large;
}
.theme-btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.dark-icon {
  color: #313131;
  font-size: xx-large;
}
.profile-img {
  height: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.popup-para {
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.popup-button {
  display: flex;
  justify-content: center;
}
